@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-common_font {
    font-family: "Work Sans", sans-serif;
}

/* Shared styles */
.disply_flex{
    display: flex;
}
.text_primary{
    color: #FF900E;
}
/* Dark 02 */
.text_grey{
    color: #424242;
}
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* Dark 03 */
.text_light_grey{
    color: #727272;
}
.btn_primary{
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    margin-top: 32px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section_title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}
/* header styles */

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > a{
    color: rgb(19, 19, 19);
    font-size: 3.8rem;
    font-weight: 700;
    text-decoration: none;
}
.menu_item{
    list-style: none;
    margin-right: 30px;
}
.menu_item > a{
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
/* Banner styles */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
h1.banner_title{
    font-size: 4rem;
    font-weight: 700;
}
.banner_img{
    width: 100%;
}

/* team and features related styles */
.teams{
    text-align: center;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}
.our_features{
    max-width: 530px;
    margin-left: 130px;
    text-align: left;
}
#quick_list{
    font-weight: 500;
}
/* Feature section styles */
.features{
    gap: 140px;
}
#feature_section_id{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature_card{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature_card .feature_title{
    font-weight: 600;
    font-size: 1.15rem;
    margin-top: 0;
    margin-bottom: 0;
}
/* Some facts section style */
.facts_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact_card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact_number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact_name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact_desc{
    max-width: 540px;
}

/* sponsor section styles */
.sponsor_info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor_company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor_company img{
    filter: grayscale(100%);
}

/* Responsive media query */
@media screen and (max-width: 576px){
    .navbar, .menu, .teams{
        flex-direction: column;
    }
    .logo > a{
        font-size: 1.6rem;
    }
    h1.banner_title{
        font-size: 2rem;
    }
    .team_img_container, .facts_container, .sponsor_company{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts_container, .sponsor_company{
        justify-items: center;
        gap: 24px;
    }
    .sponsor_company{
        justify-items: center;
        gap:50px;
    }
    .our_features{
        margin-left: 5px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our_features{
        margin-left: 5px;
    }
    .facts_container, .sponsor_company{
        grid-template-columns: repeat(2, 1fr);
        gap:35px;
        justify-items: center;
    }
}